* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #6c6c6c; }

.section-inner {
  width: 1180px;
  margin: 0 auto; }

.description-item__icon {
  margin-bottom: 20px; }

.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #414141; }

.description-item__text {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
  color: #6c6c6c; }

.btn-main {
  display: inline-block;
  margin: 0;
  padding: 16px 50px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
  color: #ffffff; }

.btn-secondary {
  display: inline-block;
  margin: 0;
  padding: 16px 50px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #414141;
  background-color: #ffffff;
  color: #414141; }

.btn-free {
  display: inline-block;
  margin: 0;
  padding: 16px 50px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #464646; }

.section-header {
  color: #ffffff;
  background: url("../img/Header/Background.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #142729;
    opacity: 0.47; }
  .section-header-logo {
    flex-shrink: 1;
    padding-top: 35px;
    font-size: 24px;
    font-weight: 700; }
  .section-header-content {
    display: flex;
    align-items: center;
    flex-grow: 1; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__tittle {
      margin-bottom: 17px;
      text-align: center;
      font-size: 55px;
      font-weight: 700;
      line-height: 60px; }
    .section-header-wrapper__subtittle {
      width: 60%;
      margin: 0 auto 44px;
      text-align: center;
      font-size: 18px;
      line-height: 32px; }
    .section-header-wrapper__form {
      display: flex; }
      .section-header-wrapper__form-input {
        flex: 1;
        padding-right: 39.5px; }
        .section-header-wrapper__form-input input {
          width: 375px;
          margin: 0;
          padding: 16px 30px;
          border: none;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.25);
          color: #ffffff;
          font-size: 16px;
          outline: none; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px; }

.section-promo-1 {
  display: flex; }
  .section-promo-1__content {
    padding-right: 94px;
    flex-basis: 55%; }
    .section-promo-1__content .title {
      margin-bottom: 56px;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.4;
      color: #414141; }
    .section-promo-1__content .description-item {
      margin-top: 28px; }
  .section-promo-1__video {
    flex-basis: 45%; }
    .section-promo-1__video img {
      width: 100%;
      height: auto; }

.section-promo-2 {
  display: flex;
  border-top: 1px solid #e2e2e2;
  padding-top: 86px;
  margin-top: 120px;
  text-align: center; }
  .section-promo-2 .description-item + .description-item {
    margin-left: 40px; }

.section-founder {
  padding-top: 34px;
  background-color: #f6fafd; }
  .section-founder .section-inner {
    display: flex; }
  .section-founder__img {
    align-self: flex-end; }
  .section-founder__content {
    padding-left: 50px;
    align-self: center;
    color: #414141; }
    .section-founder__content-text {
      font-size: 24px;
      line-height: 1.7; }
    .section-founder__content-name {
      padding-top: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2; }
    .section-founder__content-post {
      font-size: 20px;
      line-height: 1.45; }

.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  .section-plans__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    color: #414141; }
  .section-plans__subtitle {
    width: 50%;
    margin: 0 auto 110px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75; }
  .section-plans__list {
    display: flex;
    justify-content: center; }
    .section-plans__list-item {
      flex-basis: 370px;
      padding: 60px 45px; }
      .section-plans__list-item_title {
        margin-bottom: 26px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase; }
      .section-plans__list-item_price {
        margin-bottom: 26px; }
        .section-plans__list-item_price .prefix {
          font-size: 72px;
          font-weight: 700;
          color: #fe4fa7; }
        .section-plans__list-item_price .postfix {
          font-size: 14px;
          font-weight: 700;
          color: #414141; }
      .section-plans__list-item_description {
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 1.75;
        font-weight: 300; }
      .section-plans__list-item.active {
        background-color: #f6fafd; }

.section-free {
  padding: 120px 0 120px;
  text-align: center;
  background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
  color: #ffffff; }
  .section-free__title {
    margin-bottom: 27px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.1; }
  .section-free__description {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; }
