$color-main: #6c6c6c;
$color-second: #414141;
$color-white: #ffffff;

// Mixins

@mixin font-lato {  
    font-family: 'Lato', sans-serif;
}

// / Mixins 

// Common

* {
    box-sizing: border-box;
}

body {
    @include font-lato;
    
    color: $color-main; 
}

.section-outer {}

.section-inner {
    width: 1180px;
    margin: 0 auto;
}

.description-item {
    &__icon {
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        color: #414141;
    }
    &__text {
        font-size: 16px;
        line-height: 1.7;
        font-weight: 300;
        color: #6c6c6c;
    }

}

@mixin start-button {
    display: inline-block;
    margin: 0;
    padding: 16px 50px;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.btn-main {
    @include start-button;

    border: none;
    background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
    color: $color-white;
}

.btn-secondary {
    @include start-button;

    border: 1px solid #414141;
    background-color: $color-white;
    color: #414141;
}

.btn-free {
    @include start-button;

    border: none;
    background-color: $color-white;
    color: #464646;
}

//  / Common

// Header 
.section-header {
    color: #ffffff;
    background: url('../img/Header/Background.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #142729;
        opacity: 0.47;
    }

    &-logo {
        flex-shrink: 1;
        padding-top: 35px;
        font-size: 24px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &-wrapper {
        margin: 0 auto;
        &__tittle {
            margin-bottom: 17px;
            text-align: center;
            font-size: 55px;
            font-weight: 700;
            line-height: 60px;
        }

        &__subtittle {
            width: 60%;
            margin: 0 auto 44px;
            text-align: center;
            font-size: 18px;
            line-height: 32px;
        }

        &__form {
            display: flex;

            &-input {
                flex: 1;
                padding-right: 39.5px;

                input {
                    width: 375px;
                    margin: 0;
                    padding: 16px 30px;
                    border: none;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.25);
                    color: #ffffff;
                    font-size: 16px;
                    outline: none;

                    &::placeholder {
                        color: #ffffff;
                    }
                }
            }

            &-button {}

        }

    }

}

//  / Header

// Promo

.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &__content {
        padding-right: 94px;
        flex-basis: 55%;

        .title {
            margin-bottom: 56px;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.4;
            color: #414141;
        }

        .description-item {
            margin-top: 28px;
        }
    }

    &__video {
        flex-basis: 45%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.section-promo-2 {
    display: flex;
    border-top: 1px solid #e2e2e2;
    padding-top: 86px;
    margin-top: 120px;
    text-align: center;

    .description-item + .description-item {
        margin-left: 40px;
    }
}

// / Promo

// Founder

.section-founder {
    padding-top: 34px;
    background-color: #f6fafd;

    .section-inner {
        display: flex;
    }

    &__img {
        align-self: flex-end;
    }
    &__content {
        padding-left: 50px;
        align-self: center;
        color: $color-second;

        &-text {
            font-size: 24px;
            line-height: 1.7;
        }
        &-name {
            padding-top: 20px;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
        }
        &-post {
            font-size: 20px;
            line-height: 1.45;
        }
    }
}

// / Founder

// Plans

.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
        color: #414141;
    }
    &__subtitle {
        width: 50%;
        margin:0 auto 110px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
    }
    &__list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 370px;
            padding: 60px 45px;

            &_title {
                margin-bottom: 26px;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
            }
            &_price {
                margin-bottom: 26px;

                .prefix {
                    font-size: 72px;
                    font-weight: 700;
                    color: #fe4fa7;
                }
                .postfix {
                    font-size: 14px;
                    font-weight: 700;
                    color: #414141;
                }
            }
            &_description {
                margin-bottom: 60px;
                font-size: 16px;
                line-height: 1.75;
                font-weight: 300;
            }
            &_button {}

            &.active {
                background-color: #f6fafd;
            }
        }
    }
}

// Free 

.section-free {
    padding: 120px 0 120px;
    text-align: center;
    background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
    color: $color-white;

    &__title {
        margin-bottom: 27px;
        font-size: 55px;
        font-weight: 700;
        line-height: 1.1;
    }
    &__description {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
    }
    &__button {}
}