// Variables

$color-main: #6c6c6c;
$color-second: #414141;
$color-white: #ffffff;
$color-third: #464646;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// / Varibles
// Mixins

@mixin font-lato {  
    font-family: 'Lato', sans-serif;
}

// / Mixins 

// Common

* {
    box-sizing: border-box;
}

body {
    @include font-lato;
    
    color: $color-main; 
}

.section-outer {
    padding-left: 20px;
    padding-right: 20px;
}

.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}

.description-item {
    &__icon {
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        color: $color-second;
    }
    &__text {
        font-size: 16px;
        line-height: 1.7;
        font-weight: 300;
        color: $color-main;
    }

}

@mixin start-button {
    display: inline-block;
    margin: 0;
    padding: 16px 35px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.btn-main {
    @include start-button;

    border: none;
    background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
    color: $color-white;

    &:hover {
        background-image: linear-gradient(to left, #fe985b 0%, #fe4fa7 100%);
    }
}

.btn-secondary {
    @include start-button;

    border: 1px solid $color-second;
    background-color: $color-white;
    color: $color-second;
    transition: 0.2s;

    &:hover {
        color: #fe4fa7;
        border-color: #fe4fa7;
    }
}

.btn-free {
    @include start-button;

    border: none;
    background-color: $color-white;
    color: $color-third;
    transition: 0.2s;

    &:hover {
        color: #fe4fa7;
    }
}

//  / Common

// Header 
.section-header {
    color: $color-white;
    background: url('../img/Header/Background.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #142729;
        opacity: 0.47;
    }

    &-logo {
        flex-shrink: 1;
        padding-top: 35px;
        font-size: 24px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &-wrapper {
        margin: 0 auto;

        &__tittle {
            margin-bottom: 17px;
            text-align: center;
            font-size: 55px;
            font-weight: 700;
            line-height: 60px;
        }

        &__subtittle {
            width: 80%;
            margin: 0 auto 44px;
            text-align: center;
            font-size: 18px;
            line-height: 32px;
        }

        &__form {
            display: flex;

            &-input {
                flex: 1;

                input {
                    width: 100%;
                    margin: 0;
                    padding: 16px 30px;
                    border: none;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.25);
                    color: $color-white;
                    font-size: 16px;
                    outline: none;
                    transition: 0.2s;

                    &::placeholder {
                        color: $color-white;
                    }

                    &:focus {
                        background: rgba(255, 255, 255, 0.5) 
                    }
                }
            }

            @media (min-width: $screen-md) {
                &-input {
                    padding-right: 40px;
                }
            }

            @media (max-width: $screen-sm-max) {
                flex-direction: column;

                input {
                    margin-bottom: 10px;
                }

                &-button {
                    flex: 1;

                    .btn-main {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

    }

}

//  / Header

// Promo

.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &__content {
        flex-basis: 55%;

        .title {
            margin-bottom: 56px;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.4;
            color: $color-second;
        }

        .description-item {
            margin-top: 28px;
        }
    }

    &__video {
        flex-basis: 45%;

        img {
            width: 100%;
        }
    }

    @media (max-width: $screen-sm-max) {
        flex-direction: column;

        &__video {
            order: -1;
            margin-bottom: 20px;
        }

        &__content {
            padding-right: 0;
        }
    }

    @media (min-width: $screen-md) {
        &__content {
            padding-right: 94px;
        }
    }
}

.section-promo-2 {
    display: flex;
    border-top: 1px solid #e2e2e2;
    padding-top: 86px;
    margin-top: 120px;
    text-align: center;

    @media (min-width: $screen-sm) {
        .description-item + .description-item {
            margin-left: 40px;
        }
    }

    @media (max-width: $screen-xs-max) {
        flex-direction: column;

        .description-item + .description-item {
            margin-top: 40px;
        }
    }
}

// / Promo

// Founder

.section-founder {
    padding-top: 34px;
    background-color: #f6fafd;
    color: $color-second;

    .section-inner {
        display: flex;
    }

    &__content {
        &-text {
            font-size: 24px;
            line-height: 1.7;
        }
        &-name {
            padding-top: 20px;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
        }
        &-post {
            font-size: 20px;
            line-height: 1.45;
        }
    }

    @media (max-width: $screen-sm-max) {
        .section-inner {
            flex-direction: column;
        }

        &__img {
            img {
                max-width: 100%;
            }
        }

        &__content {
            order: -1;
            margin-bottom: 40px;
        }
    }

    @media (min-width: $screen-md) {
        &__img {
            align-self: flex-end;
        }
        &__content {
            align-self: center;
            padding-left: 50px;
        }
    }
}

// / Founder

// Plans

.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
        color: $color-second;
    }
    &__subtitle {
        margin-bottom: 110px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
    }
    &__list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 370px;
            padding: 60px 45px;

            &_title {
                margin-bottom: 26px;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
            }
            &_price {
                margin-bottom: 26px;

                .prefix {
                    font-size: 72px;
                    font-weight: 700;
                    color: #fe4fa7;
                }
                .postfix {
                    font-size: 14px;
                    font-weight: 700;
                    color: $color-second;
                }
            }
            &_description {
                margin-bottom: 60px;
                font-size: 16px;
                line-height: 1.75;
                font-weight: 300;
            }
            &_button {}

            &.active {
                background-color: #f6fafd;
            }
        }

        @media (max-width: $screen-sm) {
            flex-direction: column;
        }
    }

    @media (min-width: $screen-sm) {
        &__subtitle {
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

// Free 

.section-free {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
    color: $color-white;

    &__title {
        margin-bottom: 27px;
        font-size: 55px;
        font-weight: 700;
        line-height: 1.1;
    }
    &__description {
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
    }

    @media (min-width: $screen-lg) {
        &__description {
            width: 50%;
        }
    }
}

// / Free

// Footer

.section-footer {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    color: $color-third;

    &__title {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
    }
    &__nav {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        &-link {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-third;
            transition: 0.2s;

            &.active,
            &:hover {
                color: #fe50a6;
            }
        }

        @media (max-width: $screen-sm-max) {
            flex-direction: column;

            .section-footer__nav-link + .section-footer__nav-link {
                margin-top: 5px;
            }
        }

        @media (min-width: $screen-md) {
            .section-footer__nav-link + .section-footer__nav-link {
                margin-left: 60px;
            }
        }
    }


    &__media-links {
        margin-bottom: 24px;

        &-item {
            margin-right: 15px;
            text-decoration: none;

            &:last-child {
                margin-right: 0;
            }

            svg {
                width: 18px;
                height: 18px;  
                fill: $color-third;
                transition: 0.2s;

                &:hover {
                    fill: #fe50a6;
                }
            }
        }

        .active {
            svg {
                fill: #fe50a6;
            }
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;

        &-copyright {
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            color: $color-third;
        }
        &-links {
            display: flex;

            &-item {
                & + .section-footer__info-links-item {
                    margin-left: 20px;
                }

                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
                color: $color-third;

                &:hover {
                    text-decoration: underline;
                } 
            }

            @media (max-width: $screen-sm-max) {
                margin-top: 20px;
                justify-content: center;
        
            }
        }

        @media (max-width: $screen-sm-max) {
            flex-direction: column;
        }
    }

    
    @media (min-width: $screen-xl) {
        width: 60%;
        margin: 0 auto;
    }
}